*{
    margin: 0;
    padding: 0;
}
div.header {
    background-color:rgb(201, 37, 37);
    color: blue;
    margin: 10px;
}

ul li{
    display: inline;
    float: left;
    padding: 20px;
}
.button{
    background-color: blue;
    color: white;
    display: inline;
    float: right;
}